<!-- comprar_boleto.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar Boleto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<!-- Barra de navegación -->
    {% include 'tasks/navbar.html' %}
    <div class="container py-5">
        <h2 class="text-center mb-4">Comprar Boleto para {{ evento.nombre }}</h2>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad de boletos</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="{{ evento.capacidad }}" required>
                <div class="form-text">Capacidad disponible: {{ evento.capacidad }} boletos</div>
            </div>
            <button type="submit" class="btn btn-primary">Comprar Boletos</button>
        </form>


    </div>
</body>
</html>
